<p id="add_product">
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#addProduct" aria-expanded="false" aria-controls="addProduct">
    Dodawanie produktu
  </button>
  <div class="col-md-12 collapse" id="addProduct">
    <form action="{{ url_for('products_bp.add_product') }}" method="POST">
      <div class="form-group">
        <label for="name_field">Nazwa produktu</label>
        <input class="form-control" name="name" id="name_field" required="" placeholder="Nazwa">
      </div>
      <div class="form-group">
        <label for="calories_field">Kalorie</label>
        <input type="number" class="form-control" name="calories" id="calories_field" required="" placeholder="Kalorie">
      </div>
      <div class="form-group">
        <label for="protein_field">Białko</label>
        <input type="number" class="form-control" name="protein" id="protein_field" required="" placeholder="Białko">
      </div>
      <div class="form-group">
        <label for="carbohydrates_field">Węglowodany</label>
        <input type="number" class="form-control" name="carbohydrates" id="carbohydrates_field" required="" placeholder="Węglowodany">
      </div>
      <div class="form-group">
        <label for="fat_field">Tłuszcz</label>
        <input type="number" class="form-control" name="fat" id="fat_field" required="" placeholder="Tłuszcz">
      </div>
      <button type="submit" class="btn btn-block btn-primary">Dodaj produkt</button>
    </form>
  </div>
</p>