{% extends "layouts/layout.html" %}

{% block content %}
  <div class="container">
    {% include 'products/add_product_form.html' %}
    
    <p class="lead">Produkty</p>
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Kalorie</th>
            <th scope="col">Białko</th>
            <th scope="col">Węglowodany</th>
            <th scope="col">Tłuszcze</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td scope="row">{{ product.name }}</td>
              <td>{{ product.calories }}kcal</td>
              <td>{{ product.protein }}g</td>
              <td>{{ product.carbohydrates }}g</td>
              <td>{{ product.fat }}g</td>
              <td>
                <form action="{{ url_for('products_bp.remove_product', id=product.product_id) }}" method="POST">
                  <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}