<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('get_recipes_by_ingredients') }}">
          Moja Lodówka
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('get_recipes') }}">
          Przepisy
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('get_products') }}">
          Produkty
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('calculateBMI') }}">
          BMI
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('calculateBMR') }}">
          BMR
        </a>
      </li>
    </ul>
  </div>
</nav>