<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="{{ url_for('homepage_bp.entry') }}">Eatable</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('my_fridge_bp.get_recipes_by_ingredients') }}">
          Moja Lodówka
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('recipes_bp.get_recipes') }}">
          Przepisy
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('products_bp.get_products') }}">
          Produkty
        </a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kalkulatory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('calculators_bp.calculate_bmi') }}">
            BMI
          </a>
          <a class="dropdown-item" href="{{ url_for('calculators_bp.calculate_bmr') }}">
            BMR
          </a>
          <a class="dropdown-item" href="{{ url_for('calculators_bp.calculate_bf') }}">
            Body Fat
          </a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('menu_composer_bp.menu_composer') }}">
          Kompozytor menu
        </a>
      </li>
    </ul>
  </div>
</nav>