{% extends "./layouts/layout.html" %}

{% block content %}

<div class="container">
  <div>
    <p>
      {% if recipes %}
        <p class="lead">Wyniki wyszukiwania:</p>
      {% endif %}
  
      {% for recipe in recipes %}
        <div class="row">
          <div class="col-md-2">
            <img src="{{ recipe.image_url }}" class="img-thumbnail">
          </div>
          <div class="col-md-10">
            <a href="{{ url_for('get_recipe', id=recipe.id)}}">
              <p class="lead">{{ recipe.name }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </p>
    <p class="lead">
      Wybierz produkty, które masz w swojej lodówce, a otrzymasz przepis na danie, które z nich przygotujesz:
    </p>
    <form action="{{ url_for('get_recipes_by_ingredients') }}" method="POST">
      <div class="form-check">
        <ul>
          {% for product in products %}
            <li>
              <input
                type="checkbox"
                class="form-check-input"
                name="products"
                value="{{ product.id }}"
                id="{{ product.id }}_field"
              />
              <label for="{{ product.id }}_field">{{ product.name }}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
      <button class="btn btn-block btn-outline-primary">
        Wyszukaj przepisy
      </button>
    </form>
  </div>
</div>

{% endblock %}