{% extends "./layouts/layout.html" %}

{% block content %}

<div class="container">
  <div>
    <p class="lead">
      Wybierz produkty, które masz w swojej lodówce, a otrzymasz przepis na danie, które z nich przygotujesz:
    </p>
    <form action="{{ url_for('get_recipes_by_ingredients') }}" method="POST">
      <div class="form-check">
        <ul>
          {% for product in products %}
            <li>
              <input
                type="checkbox"
                class="form-check-input"
                name="products"
                value="{{ product.id }}"
                id="{{ product.id }}_field"
              />
              <label for="{{ product.id }}_field">{{ product.name }}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
      <button class="btn btn-block btn-outline-primary">
        Wyszukaj przepisy
      </button>
    </form>
  </div>

  <p>
    <p class="lead">Wyniki wyszukiwania:</p>
    {% for recipe in recipes %}
      <div class="list-group">
        <a href="{{ url_for('get_recipe', id=recipe.id)}}" class="list-group-item list-group-item-action">
          {{ recipe.name }}
        </a>
      </div>
    {% endfor %}
  </p>
</div>

{% endblock %}