{% extends "./layouts/layout.html" %}

{% block content %}
<div class="container">
    <p class="lead">Obliczanie wskaźnika BMR - Basal Metabolic Rate</p>
    <form action="{{ url_for('calculate_bmr') }}" method="POST">
        <div class="form-group">
            <label for="height_field">Podaj swój wzrost [cm]</label>
            <input type="number" class="form-control" required name="height" id="height_field"></input>
        </div>
        <div class="form-group">
            <label for="weight_field">Podaj swoją wagę [kg]</label>
            <input type="number" class="form-control" required name="weight" id="weight_field">
        </div>
        <div class="form-group">
            <label for="age_field">Podaj swój wiek</label>
            <input type="number" class="form-control" required name="age" id="age_field">
        </div>
        <div class="form-group">
            <label for="select_field">Wybierz płeć</label>
            <select class="form-control" required name="sex" id="select_field">
                <option value="1">Kobieta</option>
                <option value="2">Mężczyzna</option>
            </select>
        </div>
        <div class="form-group">
            <label for="activity_field">Aktywność fizyczna</label>
            <select class="form-control" required name="activity" id="activity_field">
                <option value="1.2">Znikoma(brak ćwiczeń, praca siedząca, szkoła)</option>
                <option value="1.375">Bardzo mała(ćwiczenia raz na tydzień, praca lekka)</option>
                <option value="1.55">Umiarkowana(ćwiczenia 2 razy w tygodniu – średniej intensywności)</option>
                <option value="1.725">Duża(dość ciężki trening kilka razy w tygodniu)</option>
                <option value="1.9">Bardzo duża(przynajmniej 4 ciężkie treningi w tygodniu, praca fizyczna)</option>
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Oblicz BMR</button>
    </form>

    {% if bmr > 0 %}
      <div class="form-group">
        <label for="wynik">Twoje zapotrzebowanie kaloryczne wynosi: {{bmr}} kcal</label>
      </div>
    {% endif %}

</div>
{% endblock %} 