{% extends "./layouts/layout.html" %}

{% block content %}
<div class="container">
  {% include './recipes/add_recipe.html' %}

  <div class="row">
    {% for recipe in recipes %}
      {% if loop.index % 4 == 1 %}
        <div class="card-group">
      {% endif %}

      <div class="card" style="margin: 16px">
        <a href="{{ url_for('get_recipe', id=recipe.id)}}">
          <img src="{{ recipe.image_url }}" class="card-img-top" >
        </a>
        <div class="card-body">
          <p class="card-title">
          <a href="{{ url_for('get_recipe', id=recipe.id)}}">
            {{ recipe.name }}
            </a>
          </p>
        </div>
      </div>

      {% if loop.index % 4 == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}