{% extends "./layouts/layout.html" %}

{% block content %}
<div class="container">
  <div>
    <h2>{{ recipe.name }}</h2>
    {% if recipe.image_url %}
      <img src="{{ recipe.image_url }}" class="img-thumbnail">
    {% endif %}
    <p>
      <strong>Składniki:</strong>
      <ul>
        {% for product in recipe.products %}
        <li>{{ product.name }}</li>
        {% endfor %}
      </ul>
    </p>
    <p>
      {{ recipe.description }}
    </p>
    <div>
      Źródło: <a href={{ recipe.url }} target="_blank">{{ recipe.url }}</a>
    </div>
  </div>
</div>

{% endblock %}